<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/css/jeu.css">

    <script src="/js/bootstrap.js"></script>
    <script src="/js/jquery-3.5.1.min.js"></script>
    <script src="/js/jeu.js"></script>
    <script src="/js/episode-I.js"></script>
    <script src="/js/episode-II.js"></script>



</head>
<body>

<div class="container">

    <h1 id="titre"></h1>

    <div class="container">

        <p id="texte"></p>

        <ul id="choix">
        </ul>

    </div>

</div>


</body>
</html>
